body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  /* background-color: aqua; */

 
}

.app {
  width: 100%;
  max-width: 370px;
  height: 100vh;

  margin: 0 auto; /* ⭐ THIS is the correct centering */
  position: relative;
  overflow: hidden;
}